APP_ENV=uat

# API
API_BASE_URL=https://api.uat.example.com
API_KEY=
GEMINI_API_KEY=

# Feature flags
ENABLE_LOGGING=true
ENABLE_CURL_LOGGING=false
SHOW_DEBUG_BANNER=false

# Config
TIMEOUT_MS=30000

# Web Client ID
GOOGLE_WEB_CLIENT_ID=360612465160-p8esmp5uvke7hheu79huqpqftf4smt50.apps.googleusercontent.com
